.processor-container {
  height: calc(100vh - 64px - 30px);
}

.datafile-grid {
  display: inline-block !important;
  padding: 7px;
  vertical-align: top;
}

.datafile-container {
  padding: 7px;
  display: block;
}
