.browser-footer {
  position: fixed;
  bottom: 0;
  height: 18px;
  padding: 6px;
  left: 0;
  right: 0;
  background: #c7c7c7;
  z-index: 10;
  font-size: small;
}

.mat-slider {
  padding: 0;
}

.divider {
  margin: 0 8px 0 6px;
}

::ng-deep .mat-accent .mat-slider-thumb {
  height: 16px;
  width: 16px;
  background-color: gray;
  border: solid 2px gray;
  bottom: -8px;
  right: -10px;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 2px;
  border-radius: 10px;
  top: 0;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 8px;
}

::ng-deep .mat-slider.mat-slider-horizontal {
  height: 16px;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: gray;
}

.footer-slider-icon {
  color: gray;
  font-size: large;
  vertical-align: middle;
}
