<mat-nav-list>
  <h2 matSubheader>Test</h2>
  <a mat-list-item routerLink="/" style="height: 0;"></a>
  <a mat-list-item>
    <mat-icon matListIcon>settings</mat-icon>
    Settings
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>


<!--<mat-toolbar>-->
<!--  <mat-toolbar-row>-->
<!--    <h2> {{ 'APP_TOOLBAR_TITLE' | translate }} </h2>-->
<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->

<!--<mat-nav-list>-->

<!--  <h2 matSubheader> {{ 'MY_WORK' | translate }} </h2>-->
<!--  -->
<!--  <a *ngFor="let item of myWorkRoutes"-->
<!--    mat-list-item-->
<!--    (click)="sidenav.close()"-->
<!--    [routerLink]="[item.route]"-->
<!--    routerLinkActive="list-item-active">-->
<!--    <mat-icon matListIcon> {{ item.icon }} </mat-icon>-->
<!--    {{item.title}}-->
<!--  </a>-->

<!--  <mat-divider></mat-divider>-->

<!--  ...-->

<!--</mat-nav-list>-->
