<div class="datafile-scroll-container scrollbar scrollbar-primary">
  <div class="datafile-container">

    <div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="14px grid" class="datafile-grid">

      <div *ngFor="let file of dataFiles" fxFlex="1 1 calc({{cardWidth}}%)">
        <app-datafile-card [file]="file" [cardHeight]="cardHeight" [cardWidth]="cardWidth" [selectable]="true"></app-datafile-card>
      </div>

    </div>

  </div>
</div>

<app-footer [fileCount]="dataFiles.length" [(height)]="cardHeight" [(width)]="cardWidth"></app-footer>
