.card-gridtile {
}

.processor-container {
  height: calc(100vh - 64px);
}

.datafile-grid { }

.datafile-grid::after {
  content: '';
  flex-grow: 10000000000;
}

.datafile-container {
  padding: 14px;
}

mat-icon.mat-card-avatar {
  width: 30px;
  height: 45px;
  font-size: 30px;
  align-self: center;
  display: flex;
}

::ng-deep .mat-card-header-text {
  overflow: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.waveform-container {
  height: 200px;
}
