<div class="mat-app-background app-container">

  <app-header></app-header>

  <div class="basic-container">
    <router-outlet></router-outlet>
  </div>

</div>

<!--<mat-sidenav-container class="sidebar-container">-->
<!--  <mat-sidenav class="mat-primary mat-sidenav-primary" mode="side" opened>-->
<!--    <app-sidebar></app-sidebar>-->
<!--  </mat-sidenav>-->

<!--  <mat-sidenav-content>-->
<!--    <app-header></app-header>-->
<!--    <router-outlet></router-outlet>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
