@import "../styles";


.app-container {
  display: flex;
  flex-flow: column;
  flex: 0 1 auto;
}

.app-header-container {
  display: flex;
  flex-flow: column;
  flex: 0 1 auto;
}

.app-content-container {
  display: flex;
  flex-flow: column;
  flex: 0 1 auto;
}
