<div #scrollbar class="datafile-scroll-container scrollbar scrollbar-primary">
  <div class="datafile-container">
    <virtual-scroller #scroll [items]="dataFiles" [parentScroll]="scrollbar" class="datafile-scroller">
        <div *ngFor="let file of scroll.viewPortItems; trackBy: trackByFileId" [style.width]="cardWidth + '%'" class="datafile-grid">
          <app-datafile-card [file]="file" [cardHeight]="cardHeight" [cardWidth]="cardWidth" [selectable]="true"></app-datafile-card>
        </div>
    </virtual-scroller>
  </div>
</div>

<app-footer [fileCount]="dataFiles.length" [(height)]="cardHeight" [(width)]="cardWidth"></app-footer>
