.datafile-scroll-container {
  height: calc(100vh - 64px - 30px);
  width: 100vw;
}

.datafile-scroller {
  display: block;
}

.datafile-container {
  padding: 7px;
}

.datafile-grid {
  display: inline-block !important;
  padding: 7px
}
