:host {
  width: 300px;
  background: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.overlay-header {
  height: 56px;
  color: white;
  border-top-right-radius: 6px;
}

.parameters-container {
  padding: 14px 28px 14px 28px;
}

.button-container {
  padding: 0 14px 14px 14px;
  float: right;
}

