<mat-sidenav-container class="pipelines-container">

  <mat-sidenav opened mode="side" style="width: 250px">
    <mat-nav-list>
      <h2 matSubheader>Inputs</h2>
      <a mat-list-item *ngFor="let input of editor.ioItems | keyvalue" (click)="editor.addFileNode(input.key + ' Input', input.value, true)">
        <mat-icon matListIcon>{{DataFile.getTypeIcon(input.value)}}</mat-icon>
        {{input.key + ' Input'}}
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <h2 matSubheader>Outputs</h2>
      <a mat-list-item *ngFor="let output of editor.ioItems | keyvalue" (click)="editor.addFileNode(output.key + ' Output', output.value, false)">
        <mat-icon matListIcon>{{DataFile.getTypeIcon(output.value)}}</mat-icon>
        {{output.key + ' Output'}}
      </a>
    </mat-nav-list>

    <app-processor-tools-sidebar [selectText]="'Add'" (dataPluginClick)="editor.addPluginNode($event)"></app-processor-tools-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="row editor-button-container">
      <button mat-raised-button class="editor-button" (click)="editor.save()" matTooltip="Save Flow" [disabled]="editor.warnings.length > 0">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-raised-button class="editor-button" (click)="editor.load()" matTooltip="Load Flow">
        <mat-icon>folder_open</mat-icon>
      </button>
      <span class="editor-button-divider"></span>
      <button mat-raised-button class="editor-button" (click)="editor.toggleMap()" matTooltip="Toogle Map">
        <mat-icon>map</mat-icon>
      </button>
      <button mat-raised-button class="editor-button" (click)="editor.resetZoom()" matTooltip="Zoom to Fit">
        <mat-icon>zoom_out_map</mat-icon>
      </button>
      <button mat-raised-button class="editor-button" (click)="editor.arrange()" matTooltip="Arrange Nodes">
        <mat-icon>sort</mat-icon>
      </button>
      <button mat-raised-button class="editor-button" (click)="editor.clear()" matTooltip="Clear Editor">
        <mat-icon>delete_outline</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-raised-button class="editor-button warning-button" matTooltip="Warnings"
              matBadge="{{editor.warnings.length}}" matBadgeSize="small" matBadgePosition="before" matBadgeColor="accent"
              [matBadgeHidden]="editor.warnings.length === 0" [disabled]="editor.warnings.length === 0">
        <mat-icon>warning</mat-icon>
      </button>
    </div>

    <div *ngIf="isReady && editor.editor && editor.editor.nodes.length === 0" class="empty-editor-overlay-container" [@fadeAnimation]="'in'">
      <div class="empty-editor-load-tip">
        <img class="empty-editor-load-tip-arrow" src="assets/img/arrow.png" alt="Arrow"/>
        <div class="empty-editor-message load-tip-message">Load an existing Flow</div>
      </div>
      <div>
        <div class="empty-editor-message big-font">Get started with an input node:</div>
        <div class="row">
          <mat-card class="empty-editor-card" *ngFor="let input of editor.ioItems | keyvalue">
            <mat-card-header>
              <mat-card-title>{{input.key}} Input</mat-card-title>
            </mat-card-header>
            <mat-card-actions class="empty-editor-card-buttons">
              <a mat-button (click)="editor.addFileNode(input.key + ' Input', input.value, true)">
                <mat-icon>add_circle_outline</mat-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

    <app-pipelines-editor #editor (nodeEditClick)="openNodeEditDrawer($event)"></app-pipelines-editor>
  </mat-sidenav-content>

  <mat-sidenav #inspectorDrawer mode="over" style="width: 300px" position="end" class="inspector">
    <div *ngIf="currentNodeEdit">
      <mat-toolbar class="inspector-header" color="accent">
        <span>{{currentNodeEdit.name}}</span>
      </mat-toolbar>

      <div class="parameters-container">
        <app-tools-parameters [plugin]="currentNodeEdit.data.plugin" [useLocalStorage]="false"></app-tools-parameters>
      </div>

      <div class="inspector-button-container">
        <a mat-button (click)="validateInspectorChanges()">Ok</a>
      </div>
    </div>
  </mat-sidenav>

</mat-sidenav-container>
