mat-icon.mat-card-avatar {
  width: 30px;
  height: 45px;
  font-size: 30px;
  align-self: center;
  display: flex;
}

::ng-deep .mat-card-header-text {
  overflow: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-preview {
  height: 120px;
}

.image-preview {
  height: 116px;
  max-width: 100%;
  object-fit: contain;
}

.image-container {
  text-align: center;
  max-width: 100%;
}

.spinner-container {
  display: grid;
  place-items: center;
  max-width: 100%;
}

.spinner {
  margin: 0 auto;
}
