<mat-card (appDeferLoad)="loadPreview($event)">
  <mat-card-header>

    <mat-icon mat-card-avatar color="primary" *ngIf="isAudio()">audiotrack</mat-icon>
    <mat-icon mat-card-avatar color="primary" *ngIf="isImage()">image</mat-icon>

    <mat-card-title class="ellipsis">{{file.name}}</mat-card-title>
    <mat-card-subtitle>Type: {{file.type}} {{file.ext ? '(' + file.ext + ')' : ''}} - {{file.size ? (file.size / (1024 * 1024)).toFixed(2) : '-'}} MB</mat-card-subtitle>
  </mat-card-header>

  <div *ngIf="file.url !== ''">
    <div id="waveform_{{file.id}}" *ngIf="isAudio()" style="{{'height: ' + cardHeight + 'px'}}"></div>
    <div id="image_{{file.id}}" class="image-container" style="{{'height: ' + cardHeight + 'px'}}" *ngIf="isImage()" (click)="openImageDialog()">
      <img alt="centered image" src="{{getImageUrl()}}" class="image-preview" style="{{'height: ' + (cardHeight - 4) + 'px'}}" *ngIf="file.loadPreview"/>
    </div>
  </div>
  <div *ngIf="file.url === ''" class="spinner-container" style="{{'height: ' + cardHeight + 'px'}}">
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate" diameter="50"></mat-progress-spinner>
  </div>

  <mat-card-actions>
    <button mat-button (click)="selectFile()" *ngIf="selectable">Select</button>
    <button mat-button (click)="playPause()" *ngIf="isAudio()" style="align-items: end">Play/Pause</button>
  </mat-card-actions>
</mat-card>
