@import "../../../../assets/themes/main";

.wrapper {
  width: 100%;
  height: 100%;
}

svg.connection {
  path.main-path {
    stroke: gray;
  }
}

// AUDIO SOCKETS
svg.connection.input-audio, svg.output-audio {
  path.main-path { stroke: mat-color(mat-palette($mat-purple)); }
}
.socket.output.audio, .socket.input.audio {
  background: mat-color(mat-palette($mat-purple));
}

// IMAGE SOCKETS
svg.connection.input-image, svg.output-image {
  path.main-path { stroke: mat-color(mat-palette($mat-green)); }
}
.socket.output.image, .socket.input.image {
  background: mat-color(mat-palette($mat-green));
}

// VIDEO SOCKETS
svg.connection.input-video, svg.output-video {
  path.main-path { stroke: mat-color(mat-palette($mat-deep-orange)); }
}
.socket.output.video, .socket.input.video {
  background: linear-gradient(0deg,
    mat-color(mat-palette($mat-deep-orange)) 50%,
    mat-color(mat-palette($mat-green)) 50%
  );
}

.socket {
  border: 2px solid #fafafa !important;
}

div.item, div.search {
  background-color: mat-color($accent) !important;
  border: 0 !important;
  //border: 2px solid #fafafa !important;
  padding: 10px !important;
  //border-radius: 4px !important;
}

div.search {
  background-color: mat-color($accent) !important;
  border: 0 !important;
  padding: 10px !important;
}

div.mini-node {
  background: mat-color($primary) !important;
}

div.mini-viewport {
  border: 1px solid mat-color($accent) !important;
  background: rgba(mat-color($accent), 0.1) !important;
}

div.minimap.middle {
  border: 1px solid mat-color($primary) !important;
  background: rgba(mat-color($primary), 0.1) !important;
}
