<mat-card (appDeferLoad)="loadPreview($event)">
  <mat-card-header>

    <mat-icon mat-card-avatar color="primary" *ngIf="isAudio()">{{getTypeIcon(file.icon)}}</mat-icon>
    <mat-icon mat-card-avatar color="primary" *ngIf="isImage()">{{getTypeIcon(file.icon)}}</mat-icon>
    <mat-icon mat-card-avatar color="primary" *ngIf="isVideo()">{{getTypeIcon(file.icon)}}</mat-icon>

    <mat-card-title class="ellipsis">{{file.name}}</mat-card-title>
    <mat-card-subtitle>Type: {{file.type}} {{file.ext ? '(' + file.ext + ')' : ''}} - {{file.size ? (file.size / (1024 * 1024)).toFixed(2) : '-'}} MB</mat-card-subtitle>
  </mat-card-header>

  <div *ngIf="file.url !== ''">
    <!--  Audio  -->
    <div id="waveform_{{file.id}}" *ngIf="isAudio()" [style.height.px]="cardHeight"></div>
    <!--  Image  -->
    <div id="image_{{file.id}}" class="image-container" [style.height.px]="cardHeight" *ngIf="isImage()" (click)="openImageDialog()">
      <img alt="centered image" src="{{getImageUrl()}}" class="image-preview" [style.height.px]="cardHeight - 4" *ngIf="file.loadPreview"/>
    </div>
    <!--  Video  -->
    <div id="video_{{file.id}}" class="video-container" *ngIf="isVideo()" [style.height.px]="cardHeight">
      <video class="video-preview" preload="metadata" controls [style.height.px]="cardHeight" *ngIf="file.loadPreview">
        <source src="{{getVideoUrl()}}" type="video/mp4"/>
      </video>
    </div>
  </div>

  <div *ngIf="file.url === ''" class="spinner-container" [style.height.px]="cardHeight">
    <mat-progress-spinner class="spinner" color="primary" mode="indeterminate" diameter="40" strokeWidth="3"></mat-progress-spinner>
  </div>

  <mat-card-actions>
    <button mat-button (click)="selectFile()" *ngIf="selectable">Select</button>
    <button mat-button (click)="playPause()" *ngIf="isAudio()" style="align-items: end">Play/Pause</button>
  </mat-card-actions>
</mat-card>
