<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row center main-logo">
      <a class="index-button" href="/">
        <h1>
          <mat-icon class="main-icon" color="accent" inline>data_usage</mat-icon>
          {{'{Data}'}}<sub>exp</sub>
        </h1>
      </a>
    </div>
    <a mat-button href="/browser">Browse</a>
    <a mat-button href="/processor">Process</a>
    <a mat-button href="/flows">Flows</a>
    <a mat-button href="/tools">Tools</a>
    <span class="spacer"></span>
    <form class="header-form">
      <mat-form-field class="header-full-width" floatLabel="never" [style.fontSize.px]="14">
        <mat-label>Search</mat-label>
        <input matInput type="text">
        <button mat-button matSuffix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <mat-icon class="header-icon" aria-hidden="false" aria-label="Settings icon">settings</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
