<mat-tab-group class="main-content">
  <mat-tab *ngFor="let inType of inTypes">

    <ng-template matTabLabel>
      <mat-icon class="tab-icon">{{getTypeIcon(inType)}}</mat-icon>
      {{inType.slice(0, 1).toUpperCase() + inType.slice(1)}}
    </ng-template>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let plugin of plugins.get(inType); let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{plugin.name}}
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon class="description-icon" *ngFor="let inType of plugin.inType">{{getTypeIcon(inType)}}</mat-icon>
            <mat-icon class="description-icon">keyboard_arrow_right</mat-icon>
            <mat-icon class="description-icon" *ngFor="let outType of plugin.outType">{{getTypeIcon(outType)}}</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div class="plugin-panel-content">
            <app-tools-parameters [plugin]="plugin" [localStorageProfile]="LocalStorageProfile.LoadAndSave"></app-tools-parameters>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-tab>
</mat-tab-group>

